  body {
    font: normal 12px arial,sans-serif
    margin: 0px;
    color: #666;
    min-width: 360px;
    overflow-x: hidden;
  }
  .header {
      background: #ddd;
      padding: 20px;
      text-align: center;
  }
  .header-text a, .header-text img {
    border: none;
    background: none;
    text-decoration: none;
  }
  .content {
        background-color: #f4f4f4;
        padding: 15px;
  }
  .footer {
      background-color: #fff;
      padding: 0 15px 10px 15px;
      min-width: 50px;
      margin: 20px 0;
      text-align: center;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
.small{
  font-size:xx-small;
}
a:visited {
  color: blue!important;
}
#github_love {
  text-align: right;
}
.line_up {
  display: inline-block
}
